:root{
--pri-color: #ee4d2d ;
--pri-color-rgba:rgba(238,75,43);
--white-color: #fff;
--black-color: #000;
--text-color: #333;
--boder--color: #dbdbdb;
--star--color: rgb(228, 197, 22); 
--navbar-height: 47px;
--header-height:120px;
--header-search: calc(var(--header-height) - var(--navbar-height));

}
*{
    box-sizing: inherit;
}
html{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
/* responsive */
.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}
.grid__full-width{
width: 100%;
}
.grid__row{
/* cac the nam trong: nam cung 1 row */
display: flex;   
flex-wrap: wrap;
margin-left: -5px;
margin-right: -5px;
}
.grid__columnn-2{
padding-left: 5px;
padding-right: 5px;
width: 16.6667%;
}
.grid__columnn-10{
padding-left: 5px;
padding-right: 5px;
width: 83.3334%;
}
.grid__columnn-2-4{
padding-left: 5px;
padding-right: 5px;
width: 20%;
flex: 1 ;
}
@keyframes fadeIn{
    from  {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}
/* Modal */
.modal{
    top: 0;
    right: 0;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex   ;
    animation: fadeIn linear 0.1s;
}
.modal__overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0,0, 0.4);

}
.modal__body{
  
    position: relative;
    background-color: var(--white-color);
    margin: auto;
    z-index: 1;
    border-radius: 2px;
}
/* btn style */
.btn{
    background-color: white;
    min-width: 142px;
    height:36px ;
    border-radius: 2px;
    border: none;
    font-size: 1.5rem;
    padding: 0 8px;
    outline: none;
    cursor: pointer;
    color: var(--text-color);
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    line-height: 1.6rem;
   
}
.btn.btn-size-s{
    height: 32px;
    font-size: 12px;
    padding: 0 12px;
}
.btn-nomal:hover{
    background-color: rgba(0, 0, 0, 0.5);
}
.btn.btn-primerkey{
color: var(--white-color);
    background-color: var(--pri-color) ;
}
.btn.btn--disable{
    cursor: default;
    background: #c3c3c3;
}
.auth-form__social-icon{
    font-size: 1.4rem;
}
.btn--iconfb{
    color: var(--white-color);
    background-color: #3a5a98;
}
/* Selection */
.select-input{
    min-width: 200px;
    height: 34px;
    padding:0 12px;
    border-radius: 2px;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.4rem;
    position: relative;
    z-index: 1;
}
.select-input:hover .select-input-list{
    display: block;
}
.select-input-link{
    font-size: 1.4rem;
    color: var(--text-color);
    text-decoration: none;
    padding: 5px 0;
    display: block;
}